

<div class="realvjy">
    A sinnpets from my website <a href="https://vjy.me/book">vjy.me</a>
  </div>
  <div class="book-wrapper">
    <div class="book-items">
      <div class="main-book-wrap">
        <div class="book-cover">
          <div class="book-inside"></div>
          <div class="book-image">
            <img src="https://i.imgur.com/SPv9Rg7.png" />
            <div class="effect"></div>
            <div class="light"></div>
          </div>
  
        </div>
      </div>
    </div>
    <div class="book-items">
      <div class="main-book-wrap">
        <div class="book-cover">
          <div class="book-inside"></div>
          <div class="book-image">
            <img src="https://i.imgur.com/UIPQEwk.png" />
            <div class="effect"></div>
            <div class="light"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="book-items">
      <div class="main-book-wrap">
        <div class="book-cover">
          <div class="book-inside"></div>
          <div class="book-image">
            <img src="https://i.imgur.com/nwzWCgm.png" />
            <div class="effect"></div>
            <div class="light"></div>
          </div>
  
        </div>
      </div>
    </div>
    <div class="book-items">
      <div class="main-book-wrap">
        <div class="book-cover">
          <div class="book-inside"></div>
          <div class="book-image">
            <img src="https://i.imgur.com/YdfU4Bw.png" />
            <div class="effect"></div>
            <div class="light"></div>
          </div>
  
        </div>
      </div>
    </div>
    <div class="book-items">
      <div class="main-book-wrap">
        <div class="book-cover">
          <div class="book-inside"></div>
          <div class="book-image">
            <img src="https://i.imgur.com/sVNy4Ct.png" />
            <div class="effect"></div>
            <div class="light"></div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  <div class="realvjy">
    A sinnpets from my website <a href="https://vjy.me/book">vjy.me</a>
  </div>
  <div class="book-wrapper">
    <div class="book-items">
      <div class="main-book-wrap">
        <div class="book-cover">
          <div class="book-inside"></div>
          <div class="book-image">
            <img src="https://i.imgur.com/SPv9Rg7.png" />
            <div class="effect"></div>
            <div class="light"></div>
          </div>
  
        </div>
      </div>
    </div>
    <div class="book-items">
      <div class="main-book-wrap">
        <div class="book-cover">
          <div class="book-inside"></div>
          <div class="book-image">
            <img src="https://i.imgur.com/UIPQEwk.png" />
            <div class="effect"></div>
            <div class="light"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="book-items">
      <div class="main-book-wrap">
        <div class="book-cover">
          <div class="book-inside"></div>
          <div class="book-image">
            <img src="https://i.imgur.com/nwzWCgm.png" />
            <div class="effect"></div>
            <div class="light"></div>
          </div>
  
        </div>
      </div>
    </div>
    <div class="book-items">
      <div class="main-book-wrap">
        <div class="book-cover">
          <div class="book-inside"></div>
          <div class="book-image">
            <img src="https://i.imgur.com/YdfU4Bw.png" />
            <div class="effect"></div>
            <div class="light"></div>
          </div>
  
        </div>
      </div>
    </div>
    <div class="book-items">
      <div class="main-book-wrap">
        <div class="book-cover">
          <div class="book-inside"></div>
          <div class="book-image">
            <img src="https://i.imgur.com/sVNy4Ct.png" />
            <div class="effect"></div>
            <div class="light"></div>
          </div>
  
        </div>
      </div>
    </div>
  </div>