{% extends 'items/base.html' %}

{% load static %}

{% load custom_filters %}

{% block title %}Books{% endblock %}

{% block content %}

  <h1 class="section-title">Books</h1>
  <form class="content" action="{% url 'items:books' %}" method="get" id="bookSearchForm">
    <input class="custom-form-input" type="text" name="query" placeholder="Search by title or author" value="{{ query }}">
    <select class="custom-form-input" name="genre" id="genreSelect">
        <option value="0">All Genres</option>
        {% for genre in genres %}
        <option value="{{ genre.id }}" {% if genre.id == genre_id %}selected{% endif %}>{{ genre.name }}</option>
        {% endfor %}
    </select>

    {% for genre in genres %}
    <div class='book-bg landscape' onclick="selectGenre('{{ genre.id }}')">
        <div class='book flex-column' id="book_{{ genre.id }}">
            <div id='book-shading'></div>
            <h1>{{ genre.name }}</h1>
        </div>
    </div>
    {% endfor %}

    <button class="submit-button" type="button" onclick="submitForm()">Search</button>
</form>

<script>
    function selectGenre(genreId) {
        document.getElementById('genreSelect').value = genreId;
    }

    function submitForm() {
        document.getElementById('bookSearchForm').submit();
    }
</script>

  {% for book in books %}
    <div class="book-wrapper">
      <a href="{% url 'items:book_detail' book.pk %}">      
      <div class="book-items">
        <div class="main-book-wrap">
          <div class="book-cover">
            <div class="book-inside"></div>
            <div class="book-image">
              <img src="{{ book.image.url }}">
              <div class="effect"></div>
              <div class="light"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h5 class="card-title">{{ book.title }}</h5>
    <p class="card-text">Author: {{ book.author }}</p>

    {% if request.user.is_authenticated %}
      {% if request.user|is_book_saved:book %}
        <form action="{% url 'items:unsave_book' book.pk %}" method="post">
          {% csrf_token %}
          <button type="submit">Unsave Book</button>
        </form>
      {% else %}
        <form action="{% url 'items:save_book' pk=book.pk %}" method="post">
          {% csrf_token %}
          <button type="submit">Save Book</button>
        </form>
      {% endif %}
    {% endif %}
    
    {% endfor %}
    
  
{% endblock %}
