{% extends 'items/base.html' %}
{% block title %}Books{% endblock %}

{% block content %}
  <h1 class="section-title">Books</h1>
  <form class="content" action="{% url 'items:books' %}" method="get">
    <input class="custom-form-input" type="text" name="query" placeholder="Search by title or author" value="{{ query }}">
    <select class="custom-form-input" name="category">
      <option value="0">All categories</option>
      {% for category in categories %}
        <option value="{{ category.id }}" {% if category.id == category_id %}selected{% endif %}>{{ category.name }}</option>
      {% endfor %}
    </select>
    <button class="submit-button" type="submit">Search</button>
  </form>
  <div class="books-container">
    {% for book in books %}
      <a href="{% url 'items:book_detail' book.pk %}" class="book-link">
        <div class="book-card">
          <div class="book-image">
            <img src="{{ book.image.url }}" alt="{{ book.title }}">
          </div>
          <div class="book-details">
            <h2 class="book-title">{{ book.title }}</h2>
            <p class="book-author">by {{ book.author }}</p>
            {% if request.user == book.created_by %}
              <div class="book-actions">
                <a href="{% url 'items:edit_book' book.pk %}" class="edit-button">Edit</a>
                <form action="{% url 'items:delete_book' book.pk %}" method="post" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit" class="delete-button">Delete</button>
                </form>
              </div>
            {% endif %}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}
