{% load static %}

{% load custom_filters %}

{% block content %}
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'items/book.css' %}" />
  <link rel="stylesheet" href="{% static 'core/styles.css' %}" />
  <link rel="stylesheet" href="{% static 'items/bookList.css' %}" />
</head>
<div class="hover-header" id="hoverHeader"><button onclick="toggleReadingMode()">Toggle Reading Mode</button></div>
<div id="content" style="display: none">{{ book.description }}</div>
{% if request.user.is_authenticated %}
{% if request.user|is_book_saved:book %}
  <form action="{% url 'items:unsave_book' pk=book.pk %}" method="post">
    {% csrf_token %}
    <button type="submit">Unsave Book</button>
  </form>
{% else %}
  <form action="{% url 'items:save_book' pk=book.pk %}" method="post">
    {% csrf_token %}
    <button type="submit">Save Book</button>
  </form>
{% endif %}
{% else %}
<a href="{% url 'core:login' %}">Log in to save/bookmark</a>
{% endif %}
  <div class="book">

    <div class="page">
      <div class="front cover">
        <h1>{{book.title}}</h1>
        <p>2024.<br>First edition</p>
      </div>
      <div class="back">
        <h2>{{book.author}}</h2>
      </div>
    </div>
  
    <div class="page">
      <div class="front">
        <img src="{{book.image.url}}" alt="Img 1">
      </div>
      <div class="back">
      </div>
    </div>
</div>

<div>
  <div>
    {% for book in related_books %}
      <div class="book-wrapper">
        <a href="{% url 'items:book_detail' book.pk %}">      
        <div class="book-items">
          <div class="main-book-wrap">
            <div class="book-cover">
              <div class="book-inside"></div>
              <div class="book-image">
                <img src="{{ book.image.url }}">
                <div class="effect"></div>
                <div class="light"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h5 class="card-title">{{ book.title }}</h5>
      <p class="card-text">Author: {{ book.author }}</p>

      {% if request.user.is_authenticated %}
        {% if request.user|is_book_saved:book %}
          <form action="{% url 'items:unsave_book' book.pk %}" method="post">
            {% csrf_token %}
            <button type="submit">Unsave Book</button>
          </form>
        {% else %}
          <form action="{% url 'items:save_book' pk=book.pk %}" method="post">
            {% csrf_token %}
            <button type="submit">Save Book</button>
          </form>
        {% endif %}
      {% endif %}
      
      {% endfor %}
  </div>
</div>
<script>

  document.addEventListener("DOMContentLoaded", function() {
    document.addEventListener("mousemove", function(e) {
      var hoverHeader = document.getElementById("hoverHeader");
      var distanceFromTop = e.clientY;

      var threshold = 100;

      if (distanceFromTop < threshold) {
        hoverHeader.classList.add("visible");
      } else {
        hoverHeader.classList.remove("visible");
      }
    });
  });


  function toggleReadingMode() {
    document.body.classList.toggle("reading-mode");
  }


  const flipBook = (elBook) => {
    elBook.style.setProperty("--c", 0);
    elBook.querySelectorAll(".page").forEach((page, idx) => {
      page.style.setProperty("--i", idx);
      page.addEventListener("click", (evt) => {
        if (evt.target.closest("a")) return;
        const curr = evt.target.closest(".back") ? idx : idx + 1;
        elBook.style.setProperty("--c", curr);
      });
    });
  };
  
  document.querySelectorAll(".book").forEach(flipBook);
  
  function divideDescription(bookDescription) {
    const words = bookDescription.split(/\s+/);
    const parts = [];
    let currentPart = '';
    let wordCount = 0;
  
    for (const word of words) {
      if (wordCount >= 250) {
        parts.push({ part: currentPart.trim() });
        currentPart = '';
        wordCount = 0;
      }
  
      currentPart += word + ' ';
      wordCount++;
    }
  
    if (currentPart.trim() !== '') {
      parts.push({ part: currentPart.trim() });
    }

    const pairedParts = [];
    for (let i = 0; i < parts.length; i += 2) {
      const pair = { part1: parts[i].part, part2: (parts[i + 1] || {}).part || '' };
      pairedParts.push(pair);
    }
  
    return pairedParts;
  }
  
  

function generatePages(contentArray) {
  const bookContainer = document.querySelector('.book');

  contentArray.forEach((content, idx) => {

    console.log(content);
    const page = document.createElement('div');
    page.classList.add('page');
    page.style.setProperty('--i', 3 + idx);
    const front = document.createElement('div');
    front.classList.add('front');

    const frontContent = document.createElement('p');
    frontContent.textContent = content.part1;
    front.appendChild(frontContent);

    const back = document.createElement('div');
    back.classList.add('back');

    const backContent = document.createElement('p');
    backContent.textContent = content.part2;
    back.appendChild(backContent);

    page.appendChild(front);
    page.appendChild(back);

    bookContainer.appendChild(page);

  });


  const page = document.createElement('div');
  page.classList.add('page');

  const front = document.createElement('div');
  front.classList.add('front');
  front.innerHTML = 'Thank You!';

  const back = document.createElement('div');
  back.classList.add('back');
  back.classList.add('cover');

  const backContent = `
    <h3>That's all, folks</h3>
    <br>
    <h2>Thanks a lot...</h2>
  `;
  back.innerHTML = backContent;
  page.appendChild(front);
  page.appendChild(back);
  bookContainer.appendChild(page);
  document.querySelectorAll(".book").forEach(flipBook);
}

const contentContainer = document.getElementById('content');
const bookDescription = contentContainer.textContent;
const descriptionParts = divideDescription(bookDescription);
console.log(descriptionParts)
generatePages(descriptionParts);

</script>
</body>
{% endblock %}
