{% extends 'items/base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="form-container">
    <h1 class="section-title">{{ title }}</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label class="form-label" for="id_title">Title:</label>
        {{ form.title }}
      </div>
      <div class="form-group">
        <label class="form-label" for="id_author">Author:</label>
        {{ form.author }}
      </div>
      <div class="form-group">
        <label class="form-label" for="id_category">Category:</label>
        <select name="category" id="id_category">
          <option value="">Choose category</option>
          {% for category_id, category_name in form.category.field.choices %}
            <option value="{{ category_id }}">{{ category_name }}</option>
          {% endfor %}
        </select>
        <input type="text" name="new_category" id="new_category_input" style="display: none;" placeholder="Enter new category">
      </div>
      <div class="form-group">
        <label class="form-label" for="id_genre">Genre:</label>
        <select name="genre" id="id_genre">
          <option value="">Choose genre</option>
          {% for genre_id, genre_name in form.genre.field.choices %}
            <option value="{{ genre_id }}">{{ genre_name }}</option>
          {% endfor %}
        </select>
        <input type="text" name="new_genre" id="new_genre_input" style="display: none;" placeholder="Enter new genre">
      </div>
      <div class="form-group">
        <label class="form-label" for="id_description">Description:</label>
        {{ form.description }}
      </div>
      <div class="form-group">
        <label class="form-label" for="id_image">Image:</label>
        {{ form.image }}
      </div>

      <button class="submit-button" type="submit">Save</button>
    </form>
  </div>

{% endblock %}
