*.pyc
db.sqlite3
db.sqlite3-journal
.DS_Store
.env
**/settings/local.py
/staticfiles/*
/mediafiles/*
__pycache__/
/.vscode/

# coverage result
.coverage
/coverage/

# pycharm
.idea/

# data
*.dump
*.jpg

# npm
node_modules/
npm-debug.log

# Webpack
/frontend/bundles/*
/frontend/webpack_bundles/*
/webpack-stats.json

# Sass
.sass-cache
*.map

# General
/{{project_name}}-venv/
/venv/
/env/
/output/
/cache/
boilerplate.zip

# Spritesmith
spritesmith-generated/
spritesmith.scss

# templated email
tmp_email/

.direnv
.envrc
.tool-versions

# Ignore media files
media/

# Ignore image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg
*.ico

# Ignore video files
*.mp4
*.mov
*.avi
*.wmv
*.flv

# Ignore audio files
*.mp3
*.wav
*.aac
*.ogg
*.flac

# Ignore other media formats if needed
# Add more file extensions as necessary
