@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,600|Tulpen+One&display=swap");

:root {
  --body-bg: #0000ff;
  --page-bg: #ff0000;
  --dark-text: #2A2935;
  --baseline: 12px;
  --book-title: "Tulpen One", sans-serif;
  --title: "Cormorant Garamond", serif;
  --body: "Cormorant Garamond", serif;
  --base-size: var(--baseline) * 1.2;
}

::-webkit-scrollbar{
  display: none;
}
.hover-header {
  background-color: #fff;
  backdrop-filter: blur(20px);
  color: #000;
  padding: 20px;
  text-align: center;
  transition: opacity 0.5s ease;
  opacity: 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

.reading-mode {
  filter:sepia(100%) grayscale(0.7) brightness(0.7) saturate(150%);

}

.hover-header.visible {
  opacity: .5;
}


body{
  background-color:  #FAF5E9!important;
}



* { box-sizing: border-box; 



body {
  margin: 0;
  display: flex;
  min-height: 100dvh;
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  font: 1em/1.4 "Poppins", sans-serif;
  overflow: scroll;
  background-image: #FAF5E9;
  /* color: hsl(180 68% 5%); */
  /* background-image: radial-gradient(circle farthest-corner at 50% 50%, hsl(187 20% 88%) 30%, hsl(149 20% 94%) 100%); */
}

.book {
  position: relative;
  display: flex;
  margin: auto;
  width: 400px;
  min-width: 400px;
  height: 578px;
  pointer-events: none;
  transform-style: preserve-3d;
  transition: translate 1s;
  translate: calc(min(var(--c), 1) * 50%) 0%;
  rotate: 1 0 0 10deg;
}

.page {
  --thickness: 4;
  flex: none;
  display: flex;
  width: 100%;
  font-size: .84rem;
  pointer-events: all;
  user-select: none;
  transform-style: preserve-3d;
  transform-origin: left center;
  transition:
    transform 1s,
    rotate 1s ease-in calc((min(var(--i), var(--c)) - max(var(--i), var(--c))) * 50ms);
  translate: calc(var(--i) * -100%) 0px 0px;
  transform: translateZ( calc((var(--c) - var(--i) - 0.5) * calc(var(--thickness) * .23cqmin)));
  rotate: 0 1 0 calc(clamp(0, var(--c) - var(--i), 1) * -180deg);
}

.front,
.back {
  position: relative;
  flex: none;
  width: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  /* background-color: #fff; */
  translate: 0px;
}

.back {
  translate: -100% 0;
  rotate: 0 1 0 180deg;
}


.book {
  counter-reset: page -1;
  & a {
    color: inherit;
  }
}

.page {
  box-shadow: 0em .5em 1em -.2em #00000020;
}

.front,
.back {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 2em;
  border: 1px solid #0002;
  
  &:has(img) {
    padding: 0;
  }
  
  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  &::after {
    position: absolute;
    bottom: 1em;
    counter-increment: page;
    content: counter(page) ".";
    font-size: 0.8em;
  }
}
.cover {
  &::after {
    content: "";
  }
}
.front {
  &::after {
    right: 1em;
  }
  background: linear-gradient(to left, #f7f7f7 80%, #eee 100%);
  border-radius: .1em .5em .5em .1em;
}
.back {
  &::after {
    left: 1em;
  }
  background-image: linear-gradient(to right, #f7f7f7 80%, #eee 100%);
  border-radius: .5em .1em .1em .5em;
}

.cover {
  background: radial-gradient(circle farthest-corner at 80% 20%, hsl(150 80% 20% / .3) 0%, hsl(170 60% 10% / .1) 100%),
    hsl(231, 32%, 29%) url("https://picsum.photos/id/984/800/900") 50% / cover;
  color: hsl(200 30% 98%);
}

}

