#shelf {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    flex-wrap: wrap; /* Allow wrapping to fit all books in a single line */
}

.book-bg {
    overflow: hidden;
    height: 15rem; /* Decrease the height slightly */
    width: calc(14.5% - 5.333px); /* Adjust the width to fit six books in a single row */
    margin: 1%; /* Increase the spacing between each book */
    cursor: pointer;
    transition: margin 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    filter: grayscale(25%);
    border-radius: 20px; /* Add border-radius for curved edges */
    box-shadow: 0 0.2rem 0.5rem 0.1rem rgba(0, 0, 0, 0.3); /* Softer and darker shadow */
    order: 200;
    display: inline-block; /* Display as inline-block */
    align-items: center; /* Center content vertically */
}

.book-bg:hover {
    box-shadow: 0 0.5rem 3rem -0.5rem rgba(0, 0, 0, 0.4);
    z-index: 10;
    margin-top: -10px; /* Adjust margin-top */
    margin-bottom: 10px;
    transform: scale(1.03, 1.03);
}

/* Define unique background colors for each book */
.book-bg { 
    background: linear-gradient(45deg, #11998E , #38EF7D); /* Gradient between #764BA2 and #667EEA */
    background-size: 600% 600%;
    animation: GradientAnimation 10s ease infinite;
}

/* Add more unique colors for additional books as needed */

.book {
    font-family: "Unica One", cursive;
    color: white; /* White text color */
    text-align: center; /* Center-align the text */
    padding: 10px; /* Add padding for better spacing */
    height: 100%; /* Ensure the content takes up full height */
    width: 100%; /* Ensure the content takes up full width */
    text-align: center;
}

.css-selector {
    background: linear-gradient(154deg, #B0F2B4, #1828D4, #E50BD9);
    background-size: 600% 600%;
    animation: GradientAnimation 23s ease infinite;
}
  
@keyframes GradientAnimation {
    0%{background-position: 0% 17%}
    50%{background-position: 100% 83%}
    100%{background-position: 0% 17%}
}

.css-selector {
    background: linear-gradient(-42deg, #FFA500, #FFCC00, #FFD700, #FFD700, #FF6347, #FF4500);
    background-size: 1000% 1000%;
    animation: GradientAnimation 30s ease infinite;
}

@keyframes GradientAnimation {
    0% {background-position: 0% 96%}
    50% {background-position: 100% 4%}
    100% {background-position: 0% 96%}
}
