{% extends 'core/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About Us</h1>

<p>Welcome to our website! We are passionate about technology, and our mission is to share our knowledge and insights with the world. As a Computer Engineering student at COEP Tech, I am deeply interested in the fascinating realms of computers, software, and coding.</p>

<p>But it's not just about the code. We also appreciate the beauty of dance and delve into the complexities of psychology and philosophy. Life is a balance, and our goal is to enjoy it to the fullest while excelling in academics and honing our coding and logical skills.</p>

<p>Join us on this journey of exploration and discovery. Whether you're here for coding tutorials, philosophical discussions, or just to enjoy some good content, we've got something for everyone.</p>

<p>Let's learn, create, and dance through the amazing tapestry of life together!</p>

<p>Stay curious,<br>
Pratham and Anjali</p>
{% endblock %}