{% load static %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'core/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'core/profile.css' %}" />
    <link rel="stylesheet" href="{% static 'core/about.css' %}" />
    <link rel="stylesheet" href="{% static 'core/privacy_policy.css'%}" />
    <link rel="stylesheet" href="{% static 'core/contact.css'%}" />
    <link rel="Stylesheet" href="{% static 'core/index.css'%}"/>
    <script src="static/core/index.js"></script>
    <script src="static/core/profile.js"></script>


    <title>{% block title %}{% endblock %} | Perspectify</title>
  </head>

  <body>
    <nav class="navbar">
      <a href="/" class="logo">Perspectify</a>

      <div class="menu">
        {% if request.user.is_authenticated %}
        <a href="{% url 'items:books' %}" class="menu-item">Books</a>
        <a href="{% url 'items:add_book' %}" class="menu-item">Add Book</a>
        <a href="{% url 'core:profile' %}" class="menu-item">Profile</a>
        <a href="{% url 'core:logout' %}" class="menu-item">Log out</a>
        {% comment %}
        <a href="{% url 'conversation:inbox' %}" class="menu-item">Inbox</a>
        <a href="{% url 'dashboard:index' %}" class="menu-item">Dashboard</a>
        {% endcomment %} {% else %}
        <a href="{% url 'core:signup' %}" class="menu-item">Sign up</a>
        <a href="{% url 'core:login' %}" class="menu-item">Log in</a>
        {% endif %}
      </div>
    </nav>

    {% block content %} {% endblock %}

    <footer class="footer">
      <div class="copyright-section">
        <p class="copyright-text">© 2024 Perspectify. All rights reserved.</p>
      </div>
      
      <div class="menu-section">
        <h3 class="section-title">Menu</h3>
        <ul class="menu-list">
          <li><a href="{% url 'core:about' %}" class="menu-link">About</a></li>
          <li><a href="{% url 'core:contact' %}" class="menu-link">Contact</a></li>
          <li><a href="{% url 'core:privacyPolicy' %}" class="menu-link">Privacy policy</a></li>
        </ul>
      </div>
    
      
    </footer>
  </body>
</html>
