{% extends 'core/base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="login-container">
    <h1 class="login-heading">Log in</h1>

    <form method="post" action=".">
        {% csrf_token %}

        <div class="form-group">
            <label class="form-label">Username</label><br>
            {{ form.username }}
        </div>

        <div class="form-group">
            <label class="form-label">Password</label><br>
            {{ form.password }}
        </div>

        {% if form.errors or form.non_field_errors %}
            <div class="error-container">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <button class="submit-button">Submit</button>
    </form>
</div>

{% endblock %}