{% extends 'core/base.html' %}

{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="container">
        <div class="profile-box">
            <img src="{% static 'images/menu.png' %}" class="menu-icon">
            <img src="{% static 'images/setting.png' %}" class="setting-icon">
            <img src="{% static 'images/profile_pic.png' %}" class="profile_pic">
            <h1>{{ user_profile.name }}</h1>
            <div>
                <div class="profile-bottom">
                    <div class="profile-info">
                        <h4>{{ user_profile.username }}</h4>
                        <p>Email: {{ user_profile.email }}</p>
                        <p>Interests: {{ user_profile.interests }}</p>
                        <p>About : {{ user_profile.about_me }}</p>
                        <p>Language :{{ user_profile.language }}</p>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
