{% extends 'core/base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}
<div class="signup-container">
    <div class="gradient-animation">
    <h1 class="signup-heading">Sign up</h1>

    <form id="signupForm" method="post" action=".">
        {% csrf_token %}

        <div class="form-group">
            <label class="form-label">Name</label><br>
            {{ form.name }}
            <span id="usernameError" class="error-message"></span>
        </div>

        <div class="form-group">
            <label class="form-label">Username</label><br>
            {{ form.username }}
            <span id="usernameError" class="error-message"></span>
        </div>

        <div class="form-group">
            <label class="form-label">Email</label><br>
            {{ form.email }}
            <span id="emailError" class="error-message"></span>
        </div>

        <div class="form-group">
            <label class="form-label">Password</label><br>
            {{ form.password1 }}
            <span id="passwordError" class="error-message"></span>
        </div>

        <div class="form-group">
            <label class="form-label">Repeat password</label><br>
            {{ form.password2 }}
            <span id="password2Error" class="error-message"></span>
        </div>

        <div class="form-group">
            <label class="form-label">Interest</label><br>
            {{ form.interests }}
            <span id="interestError" class="error-message"></span>
        </div>

        <div class="form-group">
            <label class="form-label">About</label><br>
            {{ form.about_me }}
            <span id="aboutError" class="error-message"></span>
        </div>

        <div class="form-group">
            <label class="form-label">Language</label><br>
            {{ form.language }}
            <span id="languageError" class="error-message"></span>
        </div>

        {% if form.errors or form.non_field_errors %}
            <div class="error-container">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <button type="submit" class="submit-button">Submit</button>
    </form>
</div>
</div>

<script>
    document.getElementById('signupForm').addEventListener('submit', function (event) {
        var usernameField = document.getElementById('{{ form.username.id_for_label }}');
        var emailField = document.getElementById('{{ form.email.id_for_label }}');
        var passwordField = document.getElementById('{{ form.password1.id_for_label }}');
        var password2Field = document.getElementById('{{ form.password2.id_for_label }}');
        var interestsField = document.getElementById('{{ form.interests.id_for_label }}');
        var aboutMeField = document.getElementById('{{ form.about_me.id_for_label }}');
        var languageField = document.getElementById('{{ form.language.id_for_label }}');
        
        var usernameError = document.getElementById('usernameError');
        var emailError = document.getElementById('emailError');
        var passwordError = document.getElementById('passwordError');
        var password2Error = document.getElementById('password2Error');
        var locationError = document.getElementById('locationError');
        var interestError = document.getElementById('interestError');
        var aboutError = document.getElementById('aboutError');
        var languageError = document.getElementById('languageError');

        if (usernameField.value.length < 5) {
            usernameError.innerHTML = 'Username must be at least 5 characters.';
            event.preventDefault();
        } else {
            usernameError.innerHTML = ''; 
        }

        if (passwordField.value !== password2Field.value) {
            password2Error.innerHTML = 'Passwords do not match.';
            event.preventDefault();
        } else {
            password2Error.innerHTML = '';
        }

        if (interestsField.value.length < 5) {
            interestError.innerHTML = 'Interests must be at least 5 characters.';
            event.preventDefault();
        } else {
            interestError.innerHTML = ''; 
        }

        if (aboutMeField.value.length < 10) {
            aboutError.innerHTML = 'About me must be at least 10 characters.';
            event.preventDefault();
        } else {
            aboutError.innerHTML = ''; 
        }

        if (languageField.value.length < 3) {
            languageError.innerHTML = 'Language must be at least 3 characters.';
            event.preventDefault();
        } else {
            languageError.innerHTML = ''; 
        }
    });
</script>


{% endblock %}
