/* Styles for Privacy Policy page */

/* Container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Heading */
  h1, h2 {
    color: #009B4D;
    font-size: 24px;
    margin-bottom: 5px;
    margin-left:20px ;
  }
  
  /* Paragraph */
  p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 7px;
  }
  
  /* Link */
  a {
  
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #009B4D;
  }
  
  /* Style for URL link */
  a.url-link {
    color: #D0F0C0;
    text-decoration: underline;
  }
  