*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: #fffdf7;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-box{
    background: #81e681;
    text-align: center;
    padding: 50px 150px;
    color: black;
    position: relative;
    border-radius: 25px;
}
/*.menu-icon{
    width: 30px;
    position: absolute;
    left: 40px;
    top: 50px;
}

.setting-icon{
    width: 30px;
    position: absolute;
    right: 40px;
    top: 50px;
}*/

.profile_pic{
    width: 300px;
    border-radius: 50%;
    background: #fff;
    padding: 6px;
    margin-top: 40px;
}

.profile-bottom{
    background-color: #fff;
    color : #999;
    padding : 50px 0;
    margin-right: -120px;
    margin-left: -120px;
    margin-bottom: -20px;
    border-radius: 20px;
    margin-top: 20px;
}


.profile-box h4{
    margin-top: -20px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 550;
}

.profile-box h3{
    font-size: 22px;
    margin-top: 20px;
    font-weight: 550px;
    margin: 20px 5px;
}
.profile-box p{
    font-size: 22px;
    margin-top: 20px;
    font-weight: 500;
    
}






